p Hello,
p
  | You've received this message because your email address has been registered
  | with #{appName}. Please confirm your email by clicking the link below.
p #[a(href=link) #{link}]
p Thanks,
p The #{appName} Team
