p Hello,
p You've requested a password reset for #{appName}.
p To reset your password, please click the link below.
p #[a(href=link) #{link}]
p If you didn't request this email you may safely ignore it.
p Thanks,
p The #{appName} Team
